#app {
	width: 100%;
}

#app-navigation {
	color: #222;
}

#app-navigation > div:first-child {
	overflow-y: auto;
}

#list-category,
.app-navigation-new {
	border-bottom: 1px solid var(--color-border);
}

#list-category > li {
	opacity: 0.57;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#list-category > li > a {
	display: block;
	padding: 0.8em 1em 0.8em 2.4em;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

#list-category > li > a > svg {
	width: 1.2em;
	height: 1.2em;
	position: absolute;
	top: 50%;
	left: 0.8em;
	transform: translateY(-50%);
}

#list-category > li:hover,
#list-category > .active {
	box-shadow: inset 4px 0 var(--color-primary-element);
	opacity: 1;
}

#app-settings-content > label {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#app-settings-content > label input[type="text"],
#app-settings-content > label select {
	flex-basis: 70%;
}

#app-settings-content > ul {
	margin-top: 1em;
}

.app-settings-item {
	background-position: 0 center;
	opacity: 0.57;
}

.app-settings-item:hover {
	opacity: 1;
}

.app-settings-item > button,
.app-settings-item > button:active {
	margin: 0;
	padding: 0.25em 1.5em;
	border: none;
	background: none !important;
	font-weight: inherit;
	width: 100%;
	text-align: left;
}

/* content */

#controls {
	align-items: center;
}

#section-title {
	font-size: 1.2em;
}

th.sort {
	cursor: pointer;
}

th.sort * {
	pointer-events: none;
}

th .sort-indicator {
	width: 10px;
	height: 8px;
	margin-left: 5px;
	display: inline-block;
	vertical-align: text-bottom;
	opacity: 0.3;
}

th .sort-indicator.hidden {
	visibility: hidden;
}

th:hover .sort-indicator.hidden {
	visibility: visible;
}

#app-shelf {
	width: 100%;
}

#app-shelf thead,
#app-shelf th {
	position: -webkit-sticky;
	position: sticky;
	z-index: 60;
	top: 94px;
	background-color: var(--color-main-background-translucent);
	color: var(--color-text-maxcontrast);
}

#app-shelf th,
#app-shelf td {
	padding: 0.5em;
	vertical-align: middle;
	border-bottom: 1px solid var(--color-border);
}

#app-shelf .author,
#app-shelf .genre,
#app-shelf .lang {
	display: none;
}

.app-shelf-item {
	transition: background-color 0.2s ease;
}

.app-shelf-item:hover {
	background: var(--color-background-hover);
}

#app-shelf .cover {
	width: 4.5em;
}

.app-shelf-item .cover div {
	background-color: #888;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	height: 3.5em;
	width: 3.5em;
	border-radius: 1.75em;
}

.app-shelf-item .cover div .placeholder {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	font-size: 2em;
}

.app-shelf-item .cover div .icon {
	width: 35%;
	height: auto;
	position: absolute;
	top: -2px;
	left: -2px;
	box-shadow: 0 0 4px #222;
	fill: #fff;
	display: none;
}

.app-shelf-item .cover svg.status-1 {
	background: rgb(53, 192, 53);
}

.app-shelf-item .cover svg.status-2 {
	background: #ff9300;
}

.app-shelf-item .cover svg.status-3 {
	background: rgb(192, 53, 53);
}

.app-shelf-item .field > div {
	display: flex;
	align-items: center;
}

.app-shelf-item .field > div > span {
	overflow: hidden;
	text-overflow: ellipsis;
	width: 0;
	flex-grow: 1;
}

.app-shelf-item .field.title,
.app-shelf-item .field.title * {
	cursor: pointer;
}

.app-shelf-item .field .more {
	display: none;
	width: 1.6em;
	height: 1.6em;
	border-radius: 0.8em;
	background: #e8e8e8;
	color: #888;
	flex-grow: 0;
	text-align: center;
}

.app-shelf-item .title-2 {
	opacity: 0.5;
}

@media only screen and (min-width: 480px) {
	#app-shelf .author {
		display: table-cell;
		width: 30%;
	}
}

@media only screen and (min-width: 640px) {
	#app-shelf .author {
		width: 25%;
	}

	#app-shelf .genre {
		display: table-cell;
		width: 25%;
	}
}

@media only screen and (min-width: 820px) {
	#app-shelf .author {
		width: 20%;
	}

	#app-shelf .genre {
		width: 15%;
	}

	#app-shelf .lang {
		display: table-cell;
		width: 12%;
	}
}

@media only screen and (min-width: 1025px) {
	#section-title {
		display: none;
	}
}

/* EPUB reader */

#reader-wrapper {
	position: absolute;
	z-index: 1000;
	top: 0;
	width: 100%;
	height: calc(100vh - 50px);
	background-color: #ffffff;
	display: none;
}

#reader-progress-bar {
	position: absolute;
	left: 44px;
	right: 44px;
	bottom: 14px;
	background-color: #d0d0d0;
	height: 2px;
}

#reader-progress-overlay {
	position: absolute;
	z-index: 10;
	height: 100%;
	left: 0;
	width: 0;
	background-color: var(--color-primary-element);
	transition: width 0.25s;
}

#reader-progress-handle {
	position: absolute;
	z-index: 20;
	min-height: 14px;
	min-width: 14px;
	border-radius: 7px;
	top: -6px;
	left: -6px;
	margin: 0;
	padding: 0;
	border: 2px solid var(--color-primary-element);
	background-color: #ffffff;
	transition: box-shadow 0.25s, left 0.25s;
}

#reader-progress-handle > div {
	position: absolute;
	width: 300%;
	height: 300%;
	border-radius: 15px;
	left: -10px;
	top: -10px;
}

#reader-progress-handle:hover {
	box-shadow: 0 0 3px #444;
	border: 2px solid var(--color-primary-element-light);
}

#reader-progress-handle:hover ~ #reader-progress-overlay {
	background-color: var(--color-primary-element-light);
}

#reader-wrapper > button {
	position: absolute;
	border-radius: 0;
	border: none;
	background: none;
	margin: 0;
	padding: 0;
	transition: opacity 0.5s;
}

#reader-wrapper > button svg {
	fill: var(--color-text-lighter);
	width: 1.5em;
	height: 1.5em;
}

#reader-close {
	top: 0;
	right: 0;
	height: 44px;
	width: 44px;
	opacity: 0.7;
}

#reader-close:hover {
	opacity: 1;
}

#reader-prev,
#reader-next {
	top: 64px;
	bottom: 64px;
	width: 44px;
	opacity: 0;
}

#reader-prev:hover,
#reader-next:hover {
	opacity: 1;
}

#reader-prev {
	left: 0;
}

#reader-next {
	right: 0;
}

#reader-prev svg,
#reader-next svg {
	height: 2em !important;
	width: 2em !important;
}

#reader {
	height: calc(100% - 7px);
}

#spinner {
	position: absolute;
	display: none;
	width: 76px;
	height: 76px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

#spinner div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 6px;
	border: 6px solid var(--color-main-text);
	border-radius: 50%;
	animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: var(--color-main-text) transparent transparent transparent;
}

#spinner div:nth-child(1) {
	animation-delay: -0.45s;
}

#spinner div:nth-child(2) {
	animation-delay: -0.3s;
}

#spinner div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes spinner {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#app.reader {
	overflow: hidden;
	height: calc(100vh - 50px);
}

#app.reader #app-navigation {
	transform: translateX(0px);
}

#app.reader #app-navigation-toggle {
	position: fixed;
	display: inline-block !important;
	left: 0;
	width: 44px;
	height: 44px;
	z-index: 1050;
	cursor: pointer;
	opacity: 0.6;
}

#app.reader #app-navigation-toggle:hover,
#app.reader #app-navigation-toggle:focus {
	opacity: 1;
}

#app.reader #app-content #controls {
	padding-left: 44px;
}

#app.reader #app-content {
	margin-left: 0;
}

#app.reader #reader-wrapper {
	display: block;
}

#app.reader #spinner {
	position: fixed;
	z-index: 1050;
}
