#app {
	width: 100%;
}

#app-navigation {
	color: #222;
}

#select-category {
	padding: 0.5em;
}

#select-category > select {
	width: 100%;
}

#list-category > li {
	padding: 0.5em 1em;
	cursor: pointer;
	flex-wrap: nowrap !important;
	opacity: 0.57;
}

#list-category > li.app-navigation-new {
	opacity: inherit;
	border-top: 1px solid var(--color-border);
}

#list-category > li > .name {
	flex-grow: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#list-category > li > .count {
	min-width: 2em;
	text-align: right;
}

#list-category > li:hover,
#list-category > .active {
	opacity: 1;
}

.app-settings-item {
	background-position: 0 center;
	opacity: 0.57;
}

.app-settings-item:hover {
	opacity: 1;
}

.app-settings-item > button,
.app-settings-item > button:active {
	margin: 0;
	padding: 0.25em 1.5em;
	border: none;
	background: none !important;
	font-weight: inherit;
	width: 100%;
	text-align: left;
}

#app-shelf {
	width: 100%;
}

#app-shelf thead,
#app-shelf th {
	position: sticky;
	z-index: 60;
	top: 50px;
	background-color: var(--color-main-background-translucent);
	color: var(--color-text-maxcontrast);
	height: 4em;
}

#app-shelf th,
#app-shelf td {
	padding: 0.5em;
	vertical-align: middle;
	border-bottom: 1px solid var(--color-border);
}

#app-shelf .author,
#app-shelf .genre,
#app-shelf .lang {
	display: none;
}

.app-shelf-item {
	transition: background-color 0.2s ease;
}

.app-shelf-item:hover {
	background: var(--color-background-hover);
}

#app-shelf .cover {
	width: 4.5em;
}

.app-shelf-item .cover div {
	background-color: #888;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	height: 3.5em;
	width: 3.5em;
	border-radius: 1.75em;
}

.app-shelf-item .cover div .placeholder {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	font-size: 2em;
}

.app-shelf-item .title > div,
.app-shelf-item .author > div {
	display: flex;
}

.app-shelf-item .title > div > span,
.app-shelf-item .author > div > span {
	overflow: hidden;
	text-overflow: ellipsis;
	width: 0;
	flex-grow: 1;
}

.app-shelf-item .title-2 {
	opacity: 0.5;
}

@media only screen and (min-width: 480px) {
	#app-shelf .author {
		display: table-cell;
		min-width: 30%;
	}
}

@media only screen and (min-width: 640px) {
	#app-shelf .genre {
		display: table-cell;
	}

	#app-shelf .title {
		min-width: 60%;
	}

	#app-shelf .author {
		min-width: 20%;
	}
}

@media only screen and (min-width: 820px) {
	#app-shelf .lang {
		display: table-cell;
	}

	#app-shelf .title {
		min-width: 50%;
	}
}